<div class="container form-vertical container-width">
    <form novalidate [formGroup]="registerForm" (submit)="submitForm()" id="registration">
      <!-- registerForm.controls.name or registerForm.controls.email or registerForm.controls.password -->
      <div class="row">
        <div class="col-12 m-auto text-center p-3 pb-4">
            <a routerLink="/"> <img src="../assets/images/logo.png" alt="logo" class="img-fluid mt-3"> </a>
          </div>
        <div class="col-md-5  m-auto bg-white rounded p-3">
            <h2 class="h2 pl-3 font-weight-bold text-theme">Sign up to Continue</h2>
            
            <div class="col-md-12 form-group">
                <label for="Owner_name">Name</label>
                <input type="text" formControlName="username" name="name" maxlength="250" id="name" class="form-control" id="registration-name" placeholder="Your Name" required/>
                <div class="invalid invalid-feedback" *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched">Name is required*</div>
            </div>
            <div class="col-md-12 form-group">
                <label for="email">Email Address</label>
                <input type="text" formControlName="email" name="email" id="registration-email" class="form-control" placeholder="Email address" required/>
                <div class="invalid invalid-feedback" *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">Email is Required*</div>
                <div class="invalid invalid-feedback" *ngIf="registerForm.get('email').hasError('pattern') && registerForm.get('email').touched" >Email must be a valid email address</div>
            </div>
            <div class="col-md-12 form-group">
                <label for="password">Password</label>
                <input type="password" appNoWhitespace formControlName="password" name="password" id="registration-password" class="form-control" placeholder="Password" minlength="8" required/>
                <div class="invalid invalid-feedback" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched" >Password is required*</div>
                <div class="invalid invalid-feedback" *ngIf="registerForm.get('password').invalid && !registerForm.get('password').pristine"> Not a valid Password</div>   
                <div class="text-info">
                  <p>Password should be-</p>
                  <p>- At least 8 characters in length</p>
                  <p>- Also used special characters</p>
                  <p>- Lowercase letters</p>
                  <p>- Uppercase letters</p>
                  <p>- Numbers</p>
                </div>
            </div>
            
            <div class="col-md-12 form-group">
                <button [disabled]="!registerForm.valid" class="btn btn-theme btn-lg btn-block" type="submit">Signup</button> 
            </div>
            <p class="text-center" ><a class="ml-3 text-secondary" routerLink="/login">Back To Login</a></p>
        </div>
      </div>
        
    </form>

</div>
