<div class="container form-vertical container-width">
    <form #formref="ngForm" (submit)="resetForm(formref)" id="reset">
      <div class="row">
        <div class="col-12 m-auto text-center p-3 pb-4">
          <a routerLink="/"> <img src="../assets/images/logo.png" alt="logo" class="img-fluid mt-3"> </a>
        </div>
        <div class="col-md-5 m-auto bg-white rounded p-3">
          <h2 class="h2 pl-3 font-weight-bold text-theme">Reset Password</h2>
          <div class="col-md-12 form-group">
            <label for="password">New Password</label>
            <input type="password" appNoWhitespace name="password" id="password" #newpass="ngModel" class="form-control"
              placeholder="New Password" ngModel required />
            <div class="invalid invalid-feedback" *ngIf="newpass.errors && (newpass.dirty || newpass.touched)">
              <div [hidden]="!newpass.errors.required">
                Password is required*
              </div>
              <div [hidden]="(newpass.valid && newpass.pristine) || newpass.errors.required"> Not a Valid Password</div>
            </div>
          </div>
  
          <div class="col-md-12 form-group">
            <label for="Confirm_password">Confirm Password</label>
            <input type="password" name="Confirm_password" id="Confirm_password" #confirmpass="ngModel"
              class="form-control" placeholder="Confirm Password" ngModel required />
            <div class="invalid invalid-feedback" *ngIf="confirmpass.errors && (confirmpass.dirty || confirmpass.touched)">
              <div [hidden]="!confirmpass.errors.required">
                Confirm Password is required*
              </div>
            </div>
          </div>
          <div class="col-md-12 text-info mb-3">
            <p>- Password should be-</p>
            <p>- At least 8 characters in length</p>
            <p>- Also used special characters</p>
            <p>- Lowercase letters</p>
            <p>- Uppercase letters</p>
            <p>- Numbers</p>
          </div>
          <div class="col-md-12 form-group">
            <button class="btn btn-theme btn-lg btn-block" [disabled]="formref.invalid" type="submit">Reset
              Password</button>
          </div>
        </div>
      </div>
    </form>
  
  </div>