<aside class="leftNav themeBg">
    <nav>
      <div class="navcollapseIcon">
        <a href="javaScript:void(0)" onclick="myFunction()"><i class="fa fa-bars" aria-hidden="true"></i>
        </a>
      </div>
      <div class="navLogo text-center">
        <a routerLink="/dashboard"> <img src="/assets/images/logo.png" alt="logo" class="img-fluid mt-3"> </a>
      </div>
      <ul>
        <li><a routerLink="#" routerLinkActive="active"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>Dashboard</span></a></li>
        <li><a routerLink="#" routerLinkActive="active"><i class="fa fa-user-o" aria-hidden="true"></i> <span>Users</span></a></li>
        
      </ul>
    </nav>
  </aside>
