<div class="container form-vertical container-width">

    <div class="row">
        <div class="col-12 m-auto text-center p-3 pb-4">
            <a routerLink="/"> <img src="../assets/images/logo.png" alt="logo" class="img-fluid mt-3"> </a>
        </div>
        <div class="col-md-5  m-auto bg-white rounded p-3">
            <div class="m-auto text-center p-4">
                <img class="ml-4" src="../assets/images/forgot.png">
            </div>
            <h4 class="h4 pl-3 font-weight-bold text-center pb-1">Forgot password</h4>
            <p class="pl-3 text-center pb-2">Enter your email below to receive your password reset instructions</p>

            <form #forgetRef="ngForm" (submit)="forgetPassword(forgetRef)">

                <div class="col-md-12 form-group">
                    <label for="email">Email Address</label>
                    <input type="text" #Emailref="ngModel" name="email" id="login-email" class="form-control"
                        class="form-control" placeholder="Email address"
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" ngModel required />
                    <div class="invalid invalid-feedback"
                        *ngIf="Emailref.errors && (Emailref.dirty || Emailref.touched)">
                        <div [hidden]="!Emailref.errors.required">
                            Please enter a Email
                        </div>
                        <div [hidden]="!Emailref.errors.pattern">
                            Please enter a Valid Email-id
                        </div>
                    </div>
                </div>

                <div class="col-md-12 form-group mt-3">
                    <button class="btn btn-theme btn-lg btn-block" [disabled]="forgetRef.form.invalid"
                        type="submit">Send</button>
                </div>

            </form>

            <p class="text-center">
                <a class="ml-3 text-secondary" routerLink="/login">Back to Login</a>
            </p>
        </div>
    </div>

</div>